<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="warna">
      Daftar Barang
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="warna">
  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-icon [name]="item.icon" slot="start"></ion-icon>
      {{item.title}}
      <div class="item-note" slot="end">
        {{item.note}}
      </div>
    </ion-item>
  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
  <ion-item>
    <ion-label>Jenis Barang</ion-label>
    <ion-select [(ngModel)]="categorySelected" (ionChange)="loadCloth()" placeholder="Select One">
      <ion-select-option value="1">Hoodie</ion-select-option>
      <ion-select-option value="2">Tshirt</ion-select-option>
      <ion-select-option value="3">Pants</ion-select-option>
      <ion-select-option value="4">Aksesoris</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-card *ngFor="let Cloth of clothList">
    <ion-slides pager>
      <ion-slide *ngFor="let image of Cloth.gambar">
        <img src={{image}}>
      </ion-slide>
    </ion-slides>
    <ion-text color="light">
    <ion-card-content >
      <ion-card-title> {{Cloth.name}}</ion-card-title>
      <p>{{Cloth.deskripsi}}</p>
      <p>Price: ${{Cloth.harga}}</p>
      <p>Quantitiy: {{Cloth.jumlah}}</p>
    </ion-card-content>
  </ion-text>
  </ion-card>
</ion-content>
